sudo: required

services:
  - docker

env:
  global:
    DOCKER_IMAGE=docker-builder-node
    DOCKER_FILE=.

jobs:
  include:
    - if: $TRAVIS_BRANCH IN (master)
      env: VERSION=latest
    - if: $TRAVIS_BRANCH NOT IN (master)
      env: VERSION=$TRAVIS_BRANCH
    - stage: build docker image
      - script:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        - docker build -t $DOCKER_USERNAME/$DOCKER_IMAGE:$VERSION $DOCKER_FILE
        - docker images
        - docker tag travis-ci-build-stages-demo $DOCKER_USERNAME/$DOCKER_IMAGE:$VERSION
        - docker push $DOCKER_USERNAME/$DOCKER_IMAGE:$VERSION
    - stage: test
      - script: 
        - docker run --rm $DOCKER_USERNAME/$DOCKER_IMAGE:$VERSION

notifications:
  email: false
