sudo: required

services:
  - docker

#branches:
#  only:
#    - master
  
script:
  - make image $TRAVIS_BRANCH

after_success:
  - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD ;
  - make push-image $TRAVIS_BRANCH;

notifications:
  email: false
